:root {
    // --app-background: #adbdba;
    // --app-card-background: #e8e7e1;
    // --app-footer-background: #363c4f;
    // --app-dark-text-color: #363c4f;
    // --app-dark-button: #363c4f;
    // --app-dark-button-hover: #363c4fa5;

    --app-background: #adbdba;
    --app-card-background: #e8e7e1;
    --app-footer-background: #222222;
    --app-dark-text-color: #222222;
    --app-dark-button: #328336;
    --app-dark-button-hover: #2a652d;


}